@import './base.css';

:root
{
  color: var(--text-color);
  font-family: var(--font);
  font-size: var(--font-size);
}

body
{
  background-color: var(--background-color);
  margin-top: 0px;
}

button
{
  --animation-duration: 100ms;
  --shift: 4px;
  --base-padding: 10px;

  position: relative;
  overflow: hidden;

  color: var(--text-color);
  font-family: var(--font);
  background-color: rgba(255,255,255,0.2);
  margin-left:2px;
  margin-right:2px;
  


  border:none;
  border-radius: 4px;
  font-size: var(--font-size);


  padding-right: var(--base-padding);
  padding-left: var(--base-padding);

  transition-duration: var(--animation-duration);
}

button:disabled
{
  text-decoration: line-through
}
button:enabled:hover
{
  transition-duration: var(--animation-duration);
  
  padding-right: calc(var(--base-padding) - var(--shift));
  padding-left: calc(var(--base-padding) + var(--shift));
}

button:enabled::before
{
  content: ">";

  position:absolute;
  left:-10px;
  transition-duration: var(--animation-duration);
}

button:enabled:hover::before
{
  left: var(--shift);

  transition-duration: var(--animation-duration);
}