@import './base.css';

:root
{
  color: var(--text-color);
  font-family: var(--font);
  font-size: var(--font-size);
}

body
{
  background-color: var(--background-color);
  margin-top: 0px;
}


html, body {
  position:absolute;
  margin-left: 5px;
  height: 100%;
  width: calc(100% - 5px);
}

.default-button
{
  --animation-duration: 100ms;
  --shift: 4px;
  --base-padding: 10px;

  position: relative;
  overflow: hidden;

  color: var(--text-color);
  font-family: var(--font);
  background-color: var(--background-color-tint);/*rgba(255,255,255,0.2);*/
  margin-left:2px;
  margin-right:2px;
  


  border:none;
  border-radius: 4px;
  font-size: var(--font-size);


  padding-right: var(--base-padding);
  padding-left: var(--base-padding);

  transition-duration: var(--animation-duration);
}

.default-button:disabled
{
  text-decoration: line-through
}
.default-button:enabled:hover
{
  transition-duration: var(--animation-duration);
  
  padding-right: calc(var(--base-padding) - var(--shift));
  padding-left: calc(var(--base-padding) + var(--shift));
}

.default-button:enabled::before
{
  content: ">";

  position:absolute;
  left:-10px;
  transition-duration: var(--animation-duration);
}

.default-button:enabled:hover::before
{
  left: var(--shift);

  transition-duration: var(--animation-duration);
}


input[type=text]
{
  font-size: var(--font-size);
}



.panel-descriptor
{
  font-size: calc(var(--font-size) * 1.4);
  margin-bottom: 20px;
}